@{
  Layout = "_Layout";
}

<h1>Epicodus Public Library</h1>
<hr>

<h3>Click <a href="/authors">here</a> to search by Author Name</h3>
<h3>Click <a href="/books">here</a> to search by Book Title </h3>
<h3>Click <a href="/patron">here</a> to login to your account  </h3>


<hr>
<h5><a href="books/new">Add books to library database</a></h5>